main {
  width: 100%;
  height: 700px;
  flex-shrink: 0;
  background: url(../img/heroimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 25%;
}

main .main-intro h1 {
  height: calc(100vh -60px);
  font-size: 96px;
  line-height: 106px;
}
main p {
  font-size: 18px;
  line-height: 30px;
}
main h2 {
  font-size: 55px;
  line-height: 106px;
}
main a {
  margin-top: 30px;
  font-size: 18px;
  display: block;
  height: 36px;
  line-height: 36px;
  background-color: white;
  padding: 0 20px;
  width: fit-content;
}
main a:hover {
  background-color: white;
}
main .main-intro {
  position: relative;
  width: 1000px;
  margin: auto;
  padding-bottom: 8vh;
}
header-main-logo {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.header-main-logo-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.header-main-logo:hover .header-main-logo-inner {
  transform: rotateY(180deg);
}

.header-main-logo-front, .header-main-logo-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.header-main-logo-front {
  background-color: #bbb;
  color: black;
}

.header-main-logo-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}



.index-section-h3 {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-shadow: -2px 2px 4px #000;
  z-index: 100;
}
.button {
  background-color:rgb(192, 184, 194) ;
  border-radius: 12px;
  border: none;
  color: rgb(107, 11, 103) ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.button:hover {
  color: rgb(234, 227, 237);
  background-color: rgba(178, 9, 193, 0.951);
  transition-duration: 0.35s;
  
}


/* .viewResume {
  background-color: rgb(212, 84, 148);
  color: black;
  border: 2px solid pink;
  border-radius: 12px;
}
.viewWork {
  background-color: rgb(212, 84, 148);
  color: black;
  border: 2px solid rgb(251, 208, 215);
  border-radius: 12px;
} */

/* school  */

.school {
  width: 100%;
  padding: 20px 0px;
  background-color: rgba(53, 19, 69, 0.589) ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 80px;
}
.school-text h2 {
  flex-basis: 800px;
  
}
/* ux18skills */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
 
}
.Prototyping img{
  background-color:#fff;
  border-radius: 20px;
  width:200px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.Usability-Testing img{
  background-color:#fff;
  border-radius: 20px;
  width:200px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.storyboarding img{
  background-color: #fff;
  border-radius: 20px;
  width:200px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.Skills {
  /* background-color: white; */
  display: flex;
  margin: 0 -5px;
  flex-direction: column;
  gap: 40px;
  
}
.Project {
  display: flex;
  margin: 0 -5px;
  flex-direction: row;
  gap: 40px;
  padding: 50px;
background: linear-gradient(2deg, #686893 0%, rgba(47, 16, 61, 0.589) 100%);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card-container button{
  background-color:rgb(192, 184, 194) ;
  border-radius: 12px;
  border: none;
  color: rgb(107, 11, 103) ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.card-container button:hover {
  color: rgb(234, 227, 237);
  background-color: rgba(178, 9, 193, 0.951);
  transition-duration: 0.5s;
}
.card {
  padding: 16px;
  text-align: center;
  background-color: purple;
}
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

/* Projects */

.myWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.myWork h1 {
  margin-bottom: 60px;
  color:#000;
}
.Project {
  display: flex;
  margin: 0 -5px;
  flex-direction: row;
  gap: 40px;
  padding: 50px;
}
.card-container {
  flex-direction: column;
  display: flex;
  border: 1px;
  width: 85%;
  margin: auto;
 
}
.card-image-1 img {
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  
}
.card-1 {
  justify-content: space-between;
  display: flex;
  background-color: white;
  border: 5px;
  
}
.card-image-1 {
  width: 40%;
  padding:60px;
   
}

.card-text-1 {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-text-1 h2 {
  color:black;
}
  .card-text-1 p {
  color:black;
  }
.cardBackground {
  width: 100%;
  background-color: white;
  padding: 20px 0px;
}
.card-2 {
  justify-content: space-between;
  display: flex;
  background-color: white;
  border: 5px;
}
.card-image-2 {
  width: 40%;
  padding:60px;
  
}

.card-image-2 img {
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.card-text-2 {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-text-2 p {
  color: #000;
}
.card-text-2 h2 {
  color: #000;
}
.card-3 {
  justify-content: space-between;
  display: flex;
  background-color: white ;
  border: 5px;
}
.card-image-3 {
  width: 40%;
  padding:60px;
}
.card-image-3 img {
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.card-text-3 {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-text-3 h2 {
  color:black;
}
  .card-text-3 p {
  color:black;
  }
.card-container {
  width: 100%;
  background-color: white;
  padding: 20px 0px;
}
